<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اتوماسیون اداری</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!--<p><a href="second.html">به صفحه دوم بروید</a></p>-->
    <!-- inputs 
    <input type="radio" name="city" id="open-city" />
    <input type="radio" name="city" id="close-city" />
    <header></header>
    <footer></footer>-->
    <!-- city-modal 
    <div class="city-modal">
        <div class="top">
          <h2 class="title">انتخاب شهر</h2>
          <label for="close-city">
          </label>
        </div>
        <div class="body">
          <ul class="list">
            <li class="item"><a href="" class="link">شهر-1</a></li>
            <li class="item"><a href="" class="link">شهر-2</a></li>
            <li class="item"><a href="" class="link">شهر-3</a></li>
            <li class="item"><a href="" class="link">شهر-4</a></li>
            <li class="item"><a href="" class="link">شهر-5</a></li>
            <li class="item"><a href="" class="link">شهر-6</a></li>
            <li class="item"><a href="" class="link">شهر-7</a></li>
            <li class="item"><a href="" class="link">شهر-8</a></li>
            <li class="item"><a href="" class="link">شهر-9</a></li>
            <li class="item"><a href="" class="link">شهر-10</a></li>
            <li class="item"><a href="" class="link">شهر-11</a></li>
            <li class="item"><a href="" class="link">شهر-12</a></li>
            <li class="item"><a href="" class="link">شهر-13</a></li>
            <li class="item"><a href="" class="link">شهر-14</a></li>
            <li class="item"><a href="" class="link">شهر-15</a></li>
            <li class="item"><a href="" class="link">شهر-16</a></li>
            <li class="item"><a href="" class="link">شهر-17</a></li>
            <li class="item"><a href="" class="link">شهر-18</a></li>
            <li class="item"><a href="" class="link">شهر-19</a></li>
            <li class="item"><a href="" class="link">شهر-20</a></li>
            <li class="item"><a href="" class="link">شهر-21</a></li>
            <li class="item"><a href="" class="link">شهر-22</a></li>
            <li class="item"><a href="" class="link">شهر-23</a></li>
            <li class="item"><a href="" class="link">شهر-24</a></li>
            <li class="item"><a href="" class="link">شهر-25</a></li>
            <li class="item"><a href="" class="link">شهر-26</a></li>
            <li class="item"><a href="" class="link">شهر-27</a></li>
            <li class="item"><a href="" class="link">شهر-28</a></li>
            <li class="item"><a href="" class="link">شهر-29</a></li>
            <li class="item"><a href="" class="link">شهر-30</a></li>
          </ul>
        </div>
      </div>-->
    <header class="header">
      <h2 class="title">اتوماسیون اداری</h2>
      <div class="menu1">
        <nav class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="" class="menu-link"> آپشن 1</a>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link"> آپشن 2</a>
            </li><li class="menu-item">
              <a href="" class="menu-link"> آپشن 3</a>
            </li><li class="menu-item">
              <a href="" class="menu-link"> آپشن 4</a>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link"> آپشن5 </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="form-container">
      <h2 class="title2">فرم ثبت نام</h2>
      <form>
          <label for="name">نام و نام خانوادگی :</label>
          <input type="text" id="name" name="name" class="name" placeholder="نام کامل خود را وارد کنید" required>
  
          <label for="phone">شماره تلفن:</label>
          <input type="tel" id="phone" name="phone" class="phone-number" placeholder="شماره تلفن خود را وارد کنید" required>
          
          <label for="phone">شماره دپارتمان </label>
          <input type="tel" id="phone" name="phone" class="department-num" placeholder="شماره دپارتمان مورد نظر را وارد کنید" required>

          <label for="photo">آپلود عکس:</label>
          <input type="file" id="photo" name="photo" accept="image/*" class="upload" required>
  
          <label for="short-description">وظایف دپارتمان</label>
          <textarea id="short-description" name="short-description" rows="3" class="duty"  required></textarea>
  
          <label for="additional-description">توضیحات :</label>
          <textarea id="additional-description" name="additional-description" class="explain" rows="5"></textarea>

          <button type="submit">ثبت</button>
      </form>
  </div>
  </body>
</html>
